@model DndMagicLibrary.Models.DndClass

@{
    ViewBag.Title = "Bard";
}

<h2>Bard</h2>

<p>This is a page about the @Model.Name class.</p>
<p class="text-center">@Html.ActionLink("BardText", "GetData")</p>
