@model DndMagicLibrary.Models.DndClass

@{
    ViewBag.Title = "Cleric";
}

<h2>Cleric</h2>

<p>This is a page about the @Model.Name class.</p>
<p>@Model.Description</p>
<p>The @Model.Name's Hit Die is @Model.Hit_Die</p>
